.col-xs-3
  .wheel
    .wheel-img
      = link_to '#', title: wheel.full_name do
        .fade-container
          .mask
          = image_tag wheel.image, class: 'image'
    .footer
      .row
        .col-xs-12.name{title: wheel.brand_name}= wheel.brand_name
        .col-xs-12.name{title: wheel.title}= wheel.title
      .row.end
        .col-xs-12.tc= "#{wheel.price} грн"
        .col-xs-12.tc= link_to 'Купить', '#', class: 'btn btn-danger'
