<!DOCTYPE html>
<html>
<head>
  <title>Neverstop</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css' %>

  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body id='app'>
  <div class='container-fluid'>
    <div id='main' class='row'>
      <div id='left_navbar' class='col-xs-4 col-sm-4 col-md-3 col-lg-2'>
        <%= render 'layouts/box/left_navbar'%>
      </div>
      <div class='col-xs-8 col-sm-4 col-md-9 col-lg-10'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
